# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "1acd057a678a39189e29265d542a92ac"
name = "generatorImage"
handle = "generatorimage"
application_url = "https://c679daad6bfe.ngrok-free.app"
embedded = true

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = ["https://c679daad6bfe.ngrok-free.app/auth/callback", "https://c679daad6bfe.ngrok-free.app/auth/shopify/callback", "https://c679daad6bfe.ngrok-free.app/api/auth/callback"]

[pos]
embedded = false
