# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "1acd057a678a39189e29265d542a92ac"
name = "GeneratorImage"
handle = "generatorimage"
application_url = "https://87c745b5ea81.ngrok.app"
embedded = true

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,read_metaobjects,read_online_store_pages"
optional_scopes = ["read_orders"]
  
[auth]
redirect_urls = ["https://87c745b5ea81.ngrok.app/auth/callback", "https://87c745b5ea81.ngrok.app/auth/shopify/callback", "https://87c745b5ea81.ngrok.app/api/auth/callback"]

[pos]
embedded = false
