<div class="bundle-cart-test-extension"></div>

{% schema %}
{
  "name": "bundle cart ywtest",
  "target": "body",
  "enabled_on": {
    "templates": ["cart"]
  },
  "javascript": "bundle-cart.js",
  "settings": []
}
{% endschema %}

