<div class="custom-product-extension">
  {{ block.settings.text }}
</div>

{% schema %}
{
  "name": "bundleyw商品定制",
  "target": "body",
  "enabled_on": {
    "templates": ["product"]
  },
  "stylesheet": "app.css",
  "javascript": "app.js",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "显示文本",
      "default": "Hello from my bundleyw!"
    }
  ]
}
{% endschema %}